.page {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--header-height));

  background: var(--color-white);
}

.container {
  flex: 1 1 auto;

  width: 100%;
  max-width: var(--max-container-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
