.offerBanner {
  flex-shrink: 0;

  width: 100%;
  max-width: 558px;
  height: 100%;
  max-height: 552px;
  padding: 32px;
  border: 1px solid #e4edff;
  border-radius: 24px;

  background: #f6f9ffb2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 72px;
}

.listItem {
  display: flex;
  gap: 12px;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
}

.bannerImg {
  display: block;
  margin: 0 auto 40px;
}
