@import './variables.css';
@import './reset.css';

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: var(--font-poppins);
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%; /* 120% */
  color: var(--color-primary);
  letter-spacing: -0.2px;

  background: var(--color-white);
}

.main-container {
  overflow: hidden;
  display: flex;
  min-height: calc(100vh - var(--header-height));
}
