.header {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--header-height);

  background-color: #fff;
  box-shadow: 0 2px 8px 0 #0000000a;

  @media (width <= 768px) {
    box-shadow: unset;
  }
}

.nav {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: var(--max-container-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  background: var(--color-white);

  @media (width <= 768px) {
    box-shadow: 0 2px 8px 0 #0000000a;
  }
}

.navList {
  display: flex;
  gap: 20px;

  @media (width <= 768px) {
    position: absolute;
    z-index: -1;
    top: var(--header-height);
    right: 0;
    left: 0;
    transform: translateY(calc(-1 * var(--header-height)));

    overflow: hidden;
    flex-direction: column;

    width: 100%;
    height: 0;
    padding: 32px;

    background: #fff;

    transition: all 0.3s ease-in-out;
  }

  &.open {
    @media (width <= 768px) {
      transform: translateY(0);
      display: flex;
      gap: 32px;
      height: calc(100vh - var(--header-height));
    }
  }
}

.navLink {
  font-size: 1.125rem;
}

.burger {
  cursor: pointer;

  z-index: 20;

  display: none;
  flex-direction: column;
  justify-content: space-around;

  width: 24px;
  height: 22px;
  padding: 0;
  border: none;

  background: transparent;

  @media (width <= 768px) {
    display: flex;
  }

  .burgerItem {
    transform-origin: 1px;

    width: 100%;
    height: 3px;

    background: #2b3746;

    transition: all 0.3s ease;
  }

  &.open {
    .burgerItem:nth-child(1) {
      transform: rotate(45deg);
    }

    .burgerItem:nth-child(2) {
      opacity: 0;
    }

    .burgerItem:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}
