$transition: all 0.25s ease;

.input {
  display: block;

  padding: 12px 16px;
  border: 1px solid #ebebeb;
  border-radius: 12px;

  font-size: 24px;
  font-weight: 500;
  color: var(--color-primary);

  background: var(--color-white);
  outline: none;
  box-shadow: 0 0 12px 0 #00000005;

  transition: $transition;

  &::placeholder {
    color: var(--color-gray-5);
  }

  &:hover,
  &:focus {
    border-color: var(--color-secondary);
  }
}
