.footer {
  // position: fixed;
  bottom: 0;

  width: 100%;
  height: 96px;
  padding: 27px 0;

  background-color: var(--color-primary);
}

.container {
  display: flex;
  width: 100%;
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.btn {
  display: block;

  width: fit-content;
  margin: 0 auto;

  font-size: 28px;
  font-weight: 500;
  line-height: 100%;
  color: var(--color-white);
}
